<template>
  <div>
    <div @click="log()">1111</div>
    <div @click="rej()">2222</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      download: false
    };
  },
  methods: {
    log() {
      this.$router.push({
        path: "/login"
      });
    },
    rej() {
      this.$router.push({
        path: "/rejester"
      });
    },
  }
};
</script>

<style>
</style>

