<template>
  <div class="bg">
    <div @click="log()">1111</div>
    <div @click="rej()">2222</div>
    <el-button type="primary">主要按钮</el-button>
    手机号:1111222333332<input type="text" v-model="phone"> <button @click="aliyun()">短信</button>
    <el-button type="success">成功按钮</el-button>
    <el-button type="info">信息按钮</el-button>
    <el-button type="warning">警告按钮</el-button>
    <el-button type="danger">危险按钮</el-button>
    <div class="site-canvas" id="app">
      <div class="download-button" @click="download = !download" :class="{'downloading':download}">
        <div class="download-button_icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="download-button_text">
          111
        </div>
        <transition name="fade">
          <div class="files" v-if="download">
            <svg v-for="i in [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]" :key="i[0]" :style="fileStyles()" viewBox="0 0 8 8" class="file">
              <path d="M0 0v8h7v-4h-4v-4h-3zm4 0v3h3l-3-3z"></path>
            </svg>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      download: false,
      phone: ''
    };
  },
  methods: {
    aliyun() {
      this.$axios.post('/api/aliyun', {
        phone: this.phone
      }).then(() => {

      })
    },
    log() {
      this.$router.push({
        path: "/login"
      });
    },
    rej() {
      this.$router.push({
        path: "/rejester"
      });
    },
    fileStyles() {
      let delay = -(Math.floor(Math.random() * 10) * 254);
      let duration = (Math.floor(Math.random() * 11) + 9) * 100;
      return {
        'animation-delay': delay + 'ms',
        'animation-duration': duration + 'ms'
      }
    }
  }
};
</script>

<style>
body {
  /* background: #dfe7ef; */
  background: url("../static/demo.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.download-button {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  background: skyblue;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms -webkit-transform, 250ms -webkit-box-shadow;
  transition: 250ms -webkit-transform, 250ms -webkit-box-shadow;
  transition: 250ms transform, 250ms box-shadow;
  transition: 250ms transform, 250ms box-shadow, 250ms -webkit-transform,
    250ms -webkit-box-shadow;
  cursor: pointer;
}
.download-button:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-button_icon {
  position: absolute;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
}
.download-button_icon span {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 50px;
  background: #fff;
  border-radius: 4px;
  content: "";
}

.download-button_icon span:nth-child(2),
.download-button_icon span:nth-child(3) {
  top: 35px;
  height: 25px;
  left: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.download-button_icon span:nth-child(3) {
  left: -16px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.download-button_text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  padding: 15px 0;
}
.files {
  position: relative;
  margin-top: 130px;
  text-align: center;
}
.files .file {
  width: 15px;
  fill: #5757ff;
  -webkit-animation: 800ms fallingFile infinite ease-in;
  animation: 800ms fallingFile infinite ease-in;
}
@-webkit-keyframes fallingFile {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0) rotate(0deg);
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 120px, 0) rotate(90deg);
    transform: translate3d(0, 120px, 0) rotate(90deg);
  }
}
@keyframes fallingFile {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0) rotate(0deg);
    transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 120px, 0) rotate(90deg);
    transform: translate3d(0, 120px, 0) rotate(90deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

