<template>
  <div>
    <div>
      用户名：
      <input type="text" v-model="loginName" />
      密码：
      <input type="text" v-model="loginPass" />
      <button @click="login()">登录</button>
      <div @click="rej()">2222</div>
      <p>{{csuccess}}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loginName: "",
      loginPass: "",
      csuccess: "",
      success: "登录成功！",
      sucnull: "用户名或密码不能为空！",
      sucerr: "用户名或密码错误!"
    };
  },
  methods: {
    login() {
      this.$axios
        .get("/api/login", {
          params: {
            name: this.loginName,
            pass: this.loginPass
          }
        })
        .then(res => {
          if (!this.loginName || !this.loginPass) {
            this.csuccess = this.sucnull;
            return;
          }
          if (res.data[0]) {
            if (
              res.data[0].name == this.loginName &&
              res.data[0].pass == this.loginPass
            ) {
              this.csuccess = this.success;
            }
          } else {
            this.csuccess = this.sucerr;
          }
        });
    },
    rej() {
      this.$router.push({
        path: "/rejester"
      });
    }
  }
};
</script>
<style>
</style>

