<template>
  <div>
    <div>
      用户名:
      <input type="text" v-model="name" @blur="all('name','用户名')" />
      <p>{{username}}</p>
      密码:
      <input type="password" v-model="pass" @blur="cpass()" />
      <p>{{userpass}}</p>
      确认密码：
      <input type="password" v-model="passA" @blur="cpassA()" />
      <p>{{userpassA}}</p>
      邮箱:
      <input type="test" v-model="email" @blur="all('email','邮箱')" />
      <p>{{useremail}}</p>电话号码:
      <input type="text" v-model="tel" @blur="all('tel','手机号')" />
      <p>{{usertel}}</p>
      <button @click="rejester()" :disabled="(username&&useremail&&usertel&&userpass&&userpassA)!='验证通过！'">注册</button>
      <div @click="log()">1111</div>
      <p>{{success}}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dynamicValidateForm: {
        email: ""
      },
      name: "",
      pass: "",
      passA: "",
      email: "",
      tel: "",
      username: "",
      userpass: "",
      userpassA: "",
      useremail: "",
      usertel: "",
      success: "",
    };
  },
  components: {},
  methods: {
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    all(key, value) {
      this.$axios
        .get(`/api/rejester${key}`, {
          params: {
            [`${key}`]: this[`${key}`]
          }
        })
        .then(res => {
          if (!this[`${key}`]) {
            this[`user${key}`] = `请输入${value}`;
          } else {
            if (res.data[0]) {
              if (res.data[0][`${key}`] == this[`${key}`]) {
                this[`user${key}`] = `该${value}已被注册`;
              }
            } else {
              this[`user${key}`] = "验证通过！";
            }
          }
        });
    },
    cpass() {
      if (this.pass.length < '6') {
        this.userpass = '密码长度不能小于6位'
      } else {
        this.userpass = '验证通过！'
      }
    },
    cpassA() {
      if (this.passA != this.pass) {
        this.userpassA = '两次输入密码不一致'
      } else {
        this.userpassA = '验证通过！'
      }
    },
    rejester() {
      this.$axios
        .post("/api/rejesterNew", {
          name: this.name,
          pass: this.pass,
          email: this.email,
          tel: this.tel
        })
        .then(res => {
          this.success = '注册成功'
          if (this.success = '注册成功') {
            this.name = "",
              this.pass = "",
              this.passA = "",
              this.email = "",
              this.tel = "",
              this.username = "",
              this.userpass = "",
              this.userpassA = "",
              this.useremail = "",
              this.usertel = ""
          }
        })
    },
    log() {
      this.$router.push({
        path: "/login"
      });
    },
  }
};
</script>

<style>
</style>

